body {
    font-family: sans-serif;
    max-width: 1200px;
    margin:  100px auto;
    background-color: #1c1c1c;
    color: #d5d5d5;
}

nav {
    border: 1px solid;
    display: flex;
    margin-bottom: 60px;
}

nav a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    border: 1px dotted #d5d5d5;
    padding: 10px;
    margin: 7px;
}


.anim-out {
    animation-name: slideout;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.anim-in {
    animation-name: slidein;
    animation-duration: .5s;
}

@keyframes slidein {
    from {
        translate: 200px 0;
        opacity: 0;

    }

    to {
        translate: 0 0;
        opacity: 1;

    }
}

@keyframes slideout {
    from {
        translate: 0 0;
        opacity: 1;

    }

    to {
        translate: -200px 0;
        opacity: 0;

    }
}